<div class="container">
    <div class="post">
        <div class="header">
            <h1>Post title</h1>
            <button routerLink="/" class="btn btn-link">Home</button>
        </div>
        <div class="info">
            <strong>Avtor</strong>
            <small>02.05.2023</small>
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus impedit amet, deserunt excepturi mollitia enim magni, ad consectetur omnis adipisci culpa harum obcaecati earum dolore quia maiores, quo libero incidunt eos eaque officia animi delectus? Dignissimos asperiores praesentium reprehenderit voluptas dolores, amet quae quis assumenda, tenetur numquam odio nam rerum cumque saepe sed! Eum quos porro distinctio atque adipisci in facilis nostrum hic, aspernatur iusto rerum culpa vel, qui, rem consequatur tempora sequi corporis. Consectetur id sequi mollitia distinctio laudantium accusantium quis incidunt repudiandae facilis eos reiciendis dignissimos minus blanditiis vitae dolores quibusdam beatae eius nisi, consequatur quod molestiae exercitationem.</p>
        </div>
    </div>
</div>
